.main{
    display: flex;
    justify-content: space-around;
}
body{
    background-color: black;
}
h3{
    color:orange;
    text-align: center;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color:black;
    text-align: center;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
h1{
    color:white;
    text-align: center;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#one{
    width:330px;
    height:330px;
    background-color: white;
    margin-top: 30px;
    }
img{
    border-radius: 50%;
    padding-top: 20px;
    }
#one:hover{
    background-color:orange;
    color:white;
}